* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://images.unsplash.com/photo-1414759030024-7889df4b20f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1987&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: 1;

}

.glass {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 40vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.02));
    border-radius: 1.5rem;
    z-index: 2;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}



#chart1 {
    display: inline-block;
    position: relative;
}

.bar {
    fill: rgba(255, 255, 255, 0.6);
}

.textbar,
.tick,
.domain {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 0.7rem;
}
